<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<% if ( user ) { %>

<a href="/signout">Sign out</a>
<% } else { %>
<a href="/signup">Signup</a>
<a href="/signin">Signin</a>
<% } %>



<img src="img/logo.png" alt="LOGO"/>

<h1 ><%= title %></h1>


<section ng-view></section>

{{name}}
<script type="text/javascript">
    window.user = <%- user || 'null' %>;
</script>

<script type="text/javascript"src="/lib/angular/angular.js"></script>
<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>


<script type="text/javascript" src="/example/example.client.module.js"></script>
<script type="text/javascript" src="/example/config/example.client.routes.js"></script>
<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>

<!--<script type="text/javascript" src="/users/users.client.module.js"></script>-->
<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

<script type="text/javascript" src="/application.js"></script>
</body>
</html>