<!DOCTYPE html>
<html>
<head>
    <title>
        <%=title %>
    </title>
</head>
<body>
<% for(var i in messages) { %>
<div class="flash"><%= messages[i] %></div>
<% } %>
<form action="/signup" method="post">
    <div>
        <label>First Name:</label>
        <input type="text" name="firstName" />
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" name="lastName" />
    </div>
    <div>
        <label>Email:</label>
        <input type="text" name="email" />
    </div>
    <div>
        <label>Username:</label>
        <input type="text" name="username" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Sign up" />
    </div>
</form>
<a href="/oauth/facebook">Sign in with Facebook</a>
<a href="/oauth/twitter">Sign in with Twitter</a>
<a href="/oauth/google">Sign in with Google</a>
</body>
</html>